:root
  --blanco: #f7f7f7
  --negro: #333
  --azul: #092f57
  --celeste: #7ea1a9
  --naranja: #b16b21
  --gris: #ced1d2
  --airbnbrosa: #fc5c62
  --bookingazul: #003382
  --verdewtf: #2f3d07
  --verde2wtf: #4c450c

  --font-playfair: 'Jadyn Maria', sans-serif
  --font-worksans: 'Neutraface Text', sans-serif
  // Colors ---------------
  --dark-primary-color: #171717
  --primary-color: var(--celeste)
  --primary-color-opc: rgb(23, 23, 23)
  --dark-title-color: var(--azul)
  --title-color: var(--azul)
  --title-color-opc: rgb(23, 23, 23)
  --white-color: #fff
  --dark-white-color: #fff
  --text-color-white: #D3D3D3
  --dark-text-color: #595959
  --text-color: #595959
  --text-color2: #545454
  --text-color-opc: rgb(89, 89, 89)
  --border-color: #EEEEEE
  --border-color-opc: rgba(230, 230, 230,1)
  --section-bg-color: #F9F9F9
  --section-bg-color2: #FBF8F8


.btn-warning
  --bs-btn-hover-bg: #f2a048
  --bs-btn-active-bg: #f2a048
  --bs-btn-hover-border-color: #f2a048
  --bs-btn-active-border-color: #f2a048

.btn-light
  --bs-btn-bg: #F9F9F9
  --bs-btn-hover-bg: #fff
  --bs-btn-active-bg: #fff
  --bs-btn-hover-border-color: #fff
  --bs-btn-active-border-color: #fff


body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
li,
a,
label,
blockquote,
pre,
code,
dt,
dd,
th,
td,
input,
textarea,
button
  margin: 0
  padding: 0

a
  text-decoration: none

button
  border: 0
input  
  outline: 0!important

.container
  @media (min-width: 1140px)
    max-width: 1280px
  @media (min-width: 1440px)
    max-width: 1400px

.btn-warning
  background-color: var(--naranja)
  border-color: var(--naranja)
