@use 'mixins' as *;
@use 'variables' as *;
@use 'fonts' as *;
@use 'header' as *;
@use 'herobanner' as *;

html, body{
  background-color: var(--blanco);
}

h1{
  font-family: 'Jadyn Maria', sans-serif;
}
h2{
  font-family: 'Anglecia Pro Dsp', sans-serif;
  font-size: 50px;
  span{
    font-family: 'Jadyn Maria', sans-serif;
    @include minDesktop1280{
      font-size: 2em;
    }
  }
}
body{
  font-family: 'Raleway', sans-serif;
  color: var(--negro)
}
p{
  font-size: 18px;
}
