---
import Layout from '../layouts/Layout.astro';

---
<Layout>
  <section class="heroBanner homePageBanner" 
    style="background-image: url(https://placehold.co/2220x875);"
  >
    <div class="heroBanner--inf align-items-end">
      <div class="container">
        <h1 class="text-end pb-4">Destinos</h1>
      </div>
    </div>
  </section>
  
  <div class="instalacionesBlock pb-5">
    <div class="container pb-3">
      <h2 class="text-center">
        Todo lo que necesitas
        <span>esta aquí</span>
      </h2>

      <div class="row">
        <div class="col col-12 col-md-6 col-lg-4">
          <img src="https://placehold.co/590x1060" alt="" class="img-fluid">
          <p>CAMAS BALINESAS</p>
        </div>
        <div class="col col-12 col-md-6 col-lg-4">
          <img src="https://placehold.co/590x1060" alt="" class="img-fluid">
          <p>ALBERCA CON BAR</p>
        </div>
        <div class="col col-12 col-md-6 col-lg-4">
          <img src="https://placehold.co/590x1060" alt="" class="img-fluid">
          <p>HAMACAS</p>
        </div>
      </div>

    </div>
  </div> 
  
  
  <div class="imageBlock pb-4">
    <img src="https://placehold.co/1920x900" alt="" class="img-fluid d-block mx-auto">
  </div>
  <div class="imageBlock pb-4">
    <img src="https://placehold.co/1920x900" alt="" class="img-fluid d-block mx-auto">
  </div>
  <div class="imageBlock pb-4">
    <img src="https://placehold.co/1920x900" alt="" class="img-fluid d-block mx-auto">
  </div>
  
</Layout>