---
import Layout from "../layouts/Layout.astro"
---

<Layout>

  <section class="heroBanner homePageBanner mb-0" 
    style="background-image: url(https://placehold.co/2220x875);"
  >
    <div class="heroBanner--inf align-items-end">
      <div class="container">
        <h1 class="text-start pb-4">Reseñas</h1>
      </div>
    </div>
  </section>  
  <section class="pageReviews py-5">
    <div class="reviewsBlock py-5">
      <div class="container d-flex align-items-center">
        <div class="reviewsBlock--img">
          <img src="https://placehold.co/700x900" alt="" class="img-fluid d-block">
        </div>
        <div class="reviewsBlock--reviews">
          <div class="reviewsBlock--reviews-items mt-5">
            <div class="reviewsBlock--reviews-item">
              <div class="reviewsBlock--reviews-item-who">
                <i class="bi bi-person-circle"></i>
              </div>
              <div class="reviewsBlock--reviews-item-copy">
                <h3>Wayneisha</h3>
                <h4>Nueva Orleans, Luisiana</h4>
                <p>¡Nos quedamos para un viaje de despedida de soltera! Fueron un total de 6 chicas y todas estábamos muy cómodas. El personal fue muy receptivo a todas nuestras necesidades y el servicio de limpieza venía todos los días. ¡Utilizamos las piscinas casi todos los días y compramos conserjería para aperitivos y bebidas! ¡Fue una buena experiencia!</p>
                <a href="#!">https://www.airbnb.mx/</a>
              </div>
              <div class="imageBlock--btns pt-3">
                <div class="container text-end d-flex justify-content-end gap-2 pb-5">
                  <a href="#!" class="btn btn-circle btn-airbnb rounded-circle d-flex align-items-center justify-content-center text-align-center">
                    <i class="bi bi-emoji-smile"></i>
                  </a>
                  <a href="#!" class="btn btn-circle btn-booking rounded-circle d-flex align-items-center justify-content-center text-align-center">
                    <i class="bi bi-emoji-smile"></i>
                  </a>
                </div>
              </div>                
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>



</Layout>
