---
import HeroBanner from '../components/HeroBanner.astro';
import Layout from '../layouts/Layout.astro';

import Tulum1 from '../assets/destinos-1.jpg'
import Tulum2 from '../assets/destinos-2.jpg'
import Tulum3 from '../assets/destinos-3.jpg'

import HeroTulum from '../assets/hero-destinos.jpg';

---

<Layout>
  <section class="heroBanner homePageBanner" 
    style=`background-image: url(${HeroTulum.src});`
  >
    <div class="heroBanner--inf align-items-end">
      <div class="container">
        <h1 class="text-start pb-4">Destinos</h1>
      </div>
    </div>
  </section>

  <div class="welcomeBlock">
    <div class="container">
      <div class="welcomeBlock--copy-large">
        <h2 class="text-center">
          Sobre
          <span>Tulum</span>
        </h2>    
        <p class="text-center fs-6">
          Tulum goza de una ubicación privilegiada en el corazón del Caribe Mexicano, perfecta para quienes buscan un estilo de vida de primer nivel. Su amplia oferta gastronómica, vibrante vida nocturna, exclusivos spas, centros de yoga, rica cultura y boutiques enfocadas en el bienestar crean un entorno único, armonioso y sofisticado.
        </p>
        <p class="text-center fs-6">
          Además, Tulum se ha consolidado como uno de los destinos turísticos y de inversión más importantes del mundo, reconocido por su alta rentabilidad y su crecimiento constante en el sector inmobiliario y de servicios.
        </p>
      </div>
    </div>
  </div>

  <div class="welcomeBlock">
    <div class="container">
      <div class="row align-items-center">

        <div class="col-12 col-md-8 col-lg-8">
          <div class="welcomeBlock--img px-3">
            <img src={Tulum1.src} alt="" class="img-fluid">
          </div>
        </div>

        <div class="col-12 col-md-4 col-lg-4">
          <div class="welcomeBlock--copy text-start">
            <h2 class="fs-2" >
              Cenote
              <span>Cristal</span>
            </h2>
            <p><strong>Qué ver/hacer:</strong> Disfruta de dos cenotes al aire libre rodeados por exuberante selva tropical. Son ideales para nadar en aguas cristalinas, relajarte bajo el sol o lanzarte desde sus plataformas naturales.</p>
            <p><strong>Ideal para:</strong> Una escapada tranquila en contacto con la naturaleza, lejos del bullicio de la ciudad. </p>
            <p><strong>Tip:</strong>Se encuentran muy cerca del centro de Tulum, y con una sola entrada puedes acceder tanto al Cenote Cristal como al Cenote Escondido.</p>
            <p><i class="bi bi-geo-alt-fill"></i></p>
          </div>
        </div>        

      </div>
    </div>
  </div>

  <div class="welcomeBlock">
    <div class="container">
      <div class="row align-items-center">

        <div class="col-12 col-md-4 col-lg-4">
          <div class="welcomeBlock--copy text-start">
            <h2 class="fs-2 text-end" >
              Playa <br>
              <span>Xcacel-Xcacelito</span>
            </h2>
            <p class="text-end"><strong>Qué ver/hacer:</strong> Explora esta área natural protegida que alberga una hermosa playa virgen, santuario de anidación para tortugas marinas. Además, cuenta con un pequeño cenote escondido entre la vegetación, perfecto para refrescarte después de un paseo por la playa.</p>
            <p class="text-end"><strong>Ideal para:</strong> Conectarte con la naturaleza, practicar snorkel o disfrutar de caminatas relajantes en un entorno completamente natural.</p>
            <p class="text-end"><strong>Tip:</strong> La entrada es económica y las instalaciones son básicas. Lleva todo lo necesario para tu visita y asegúrate de dejar el lugar tal como lo encontraste ¡Cuida este paraíso!</p>
            <p class="text-end"><i class="bi bi-geo-alt-fill"></i></p>
          </div>
        </div>         
        <div class="col-12 col-md-8 col-lg-8">
          <div class="welcomeBlock--img px-4">
            <img src={Tulum2.src} alt="" class="img-fluid">
          </div>
        </div>       

      </div>
    </div>
  </div>

  <div class="welcomeBlock">
    <div class="container pb-5">
      <div class="row align-items-center">

        <div class="col-12 col-md-8 col-lg-8">
          <div class="welcomeBlock--img px-4">
            <img src={Tulum3.src} alt="" class="img-fluid">
          </div>
        </div>

        <div class="col-12 col-md-4 col-lg-4">
          <div class="welcomeBlock--copy text-start">
            <h2 class="fs-2" >
              Cenote
              <span>Calavera</span>
            </h2>
            <p><strong>Qué ver/hacer:</strong> Este cenote semiabierto debe su nombre a su peculiar forma, similar a un cráneo. Sus tres aberturas naturales invitan a saltar directamente al agua cristalina o descender por una escalera de madera para disfrutar de un baño refrescante</p>
            <p><strong>Ideal para:</strong> Quienes buscan una  experiencia de aventura ligera, tomar fotos únicas y nadar en un entorno natural muy especial.</p>
            <p><strong>Tip:</strong> Visítalo temprano para disfrutarlo con tranquilidad, ya que suele llenarse de visitantes más tarde en el día.</p>
            <p><i class="bi bi-geo-alt-fill"></i></p>
          </div>
        </div>        

      </div>
    </div>
  </div>

</Layout>
