---
import HeroBanner from '../components/HeroBanner.astro';
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <section class="heroBanner homePageBanner" 
    style="background-image: url(https://placehold.co/2220x875);"
  >
    <div class="heroBanner--inf align-items-end">
      <div class="container">
        <h1 class="text-start pb-4">Destinos</h1>
      </div>
    </div>
  </section>

  <div class="welcomeBlock">
    <div class="container">
      <div class="welcomeBlock--copy-large">
        <h2 class="text-center">
          Sobre
          <span>Tulum</span>
        </h2>
        <p class="text-center fs-5">
          Tulum cuenta con una ubicación privilegiada en el Caribe, la cual es ideal para un estilo de vida de primer mundo con amplia variedad gastronomica, vida nocturna, spas, centros de yoga, cultura y tiendas orientadas hacia una vida equilibrada.
        </p>
        <p class="text-center fs-5">
          Es considerada uno de los principales centros turísticos y de negocios en el mundo gracias a su alta rentabilidad.
        </p>
      </div>
    </div>
  </div>

  <div class="welcomeBlock">
    <div class="container">
      <div class="row align-items-center">

        <div class="col-12 col-md-6">
          <div class="welcomeBlock--img">
            <img src="https://placehold.co/580" alt="" class="img-fluid">
          </div>
        </div>

        <div class="col-12 col-md-6">
          <div class="welcomeBlock--copy text-start">
            <h2 class="fs-2" >
              Cenote
              <span>Cristal</span>
            </h2>
            <p>Qué ver/hacer: Dos cenotes al aire libre, rodeados de selva. Perfectos para nadar, relajarse y saltar desde plataformas naturales.</p>
            <p>Ideal para: Escapada tranquila en medio de la naturaleza.</p>
            <p>Tip: Están muy cerca del centro de Tulum y la entrada a uno te da acceso al otro.</p>
            <p><i class="bi bi-geo-alt-fill"></i></p>
          </div>
        </div>        

      </div>
    </div>
  </div>

  <div class="welcomeBlock">
    <div class="container">
      <div class="row align-items-center">

        <div class="col-12 col-md-6">
          <div class="welcomeBlock--copy text-start">
            <h2 class="fs-2 text-end" >
              Playa <br>
              <span>Xcacel-Xcacelito</span>
            </h2>
            <p class="text-end">Qué ver/hacer: Área protegida con una playa virgen donde anidan tortugas marinas. También tiene un pequeño cenote escondido entre la vegetación.</p>
            <p class="text-end">Ideal para: Contacto puro con la naturaleza, snorkel y caminatas.</p>
            <p class="text-end">Tip: Entrada económica y poca infraestructura, lleva lo necesario (y llévate tu basura).</p>
            <p class="text-end"><i class="bi bi-geo-alt-fill"></i></p>
          </div>
        </div>         
        <div class="col-12 col-md-6">
          <div class="welcomeBlock--img">
            <img src="https://placehold.co/580" alt="" class="img-fluid">
          </div>
        </div>       

      </div>
    </div>
  </div>

  <div class="welcomeBlock">
    <div class="container pb-5">
      <div class="row align-items-center">

        <div class="col-12 col-md-6">
          <div class="welcomeBlock--img">
            <img src="https://placehold.co/580" alt="" class="img-fluid">
          </div>
        </div>

        <div class="col-12 col-md-6">
          <div class="welcomeBlock--copy text-start">
            <h2 class="fs-2" >
              Cenote
              <span>Calavera</span>
            </h2>
            <p>Qué ver/hacer: Un cenote semiabierto con forma de cráneo. Tiene plataformas para saltar y nadar en aguas cristalinas.</p>
            <p>Ideal para: Aventura ligera, fotos únicas y nadar.</p>
            <p>Tip: Llega temprano para evitar multitudes.</p>
            <p><i class="bi bi-geo-alt-fill"></i></p>
          </div>
        </div>        

      </div>
    </div>
  </div>

</Layout>
