---
import Redes from "./Redes.astro"

---
<footer class="footerPage enquery-section style-2">
  <div class="container">
    <div class="footerPage--top">
      <div class="row justify-content-between aling-items-center">
        <!-- Informacion -->
        <div class="col-12 col-lg-5 d-flex align-items-center">
          <div class="map-area w-100">
            <div class=" d-flex gap-2" id="followBlock">
              <Redes class="whiteLabels" />              
            </div>
            <p class="pt-2 pb-4">
              <a class="text-white fs-4 opacity-75" href="#!">Tel.  98 4187 6849</a>
            </p>
            <div class="contact-map overflow-hidden rounded-5 pt-0">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d59919.59472429017!2d-87.50526099646987!3d20.176780119504937!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f4fd40310e42a4b%3A0xeedc0db93ff9ab7!2sTulum%2C%20Q.R.!5e0!3m2!1ses-419!2smx!4v1760902907255!5m2!1ses-419!2smx"
                style="border:0;"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
          </div>
        </div>
        <!-- Informacion -->
        <!-- Formulario -->
        <div class="col-12 col-lg-6">
          <div class="footerPage--contact">
            <h2>
              Contacto
              <span class="d-block">Te esperamos</span>
            </h2>
            <p class="py-3">
              No lo pienses más, KARANDA te está esperando. 
            </p>
            <div class="enquery-form-wrapper">
              <form>
                <div class="row">
                  <div class="col-md-12 mb-3">
                    <div class="form-inner3">
                      <label>first name *</label>
                      <input type="text" placeholder="Nombre Completo" />
                    </div>
                  </div>
                  <div class="col-md-12 mb-3">
                    <div class="form-inner3">
                      <label>email address *</label>
                      <input type="email" placeholder="Correo electrónico" />
                    </div>
                  </div>
                  <div class="col-md-12 mb-3">
                    <div class="form-inner3">
                      <label>message</label>
                      <input type="tel" placeholder="Teléfono" />
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-inner3">
                      <label>message</label>
                      <textarea placeholder="Mensaje"></textarea>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-inner3 text-end py-3">
                      <button
                        class="btn btn-dark rounded-pill border-0 text-white px-5 py-3"
                      >
                        <span>Enviar</span>
                        <strong></strong>
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- Formulario -->
      </div>
    </div>
    <div class="footerPage--bottom text-center">
      <p>© 2025 KARANDA. Todos los derechos reservados. </p>
    </div>
  </div>
</footer>