---

---

<section class="heroBanner homePageBanner" 
  style="background-image: url(hero-home.jpg);"
>
  <div class="heroBanner--inf">
    <div class="container">
      <h1>Enjoy the paradise</h1>
    </div>
  </div>
</section>
